// Here you can add other styles

.hidden {
  display: none;
}

.required{
  color:red;
}

.b-r-4 {
  border-radius: 4px;
}

.m-r-8 {
  margin-right: 8px;
}

.m-l-8 {
  margin-left: 8px;
}

.m-b-16 {
  margin-bottom: 16px;
}

.m-b-4 {
  margin-bottom: 4px;
}

.small-input {
  height: 36px;
}

.small-button {
  height: 36px;
}

.h-32 {
  height: 22px;
}


