// Here you can add other styles

.hidden {
  display: none;
}

.required{
  color:red;
}

.b-r-4 {
  border-radius: 4px;
}

.m-r-8 {
  margin-right: 8px;
}

.m-l-8 {
  margin-left: 8px;
}

.m-b-16 {
  margin-bottom: 16px;
}

.m-b-4 {
  margin-bottom: 4px;
}

.small-input {
  height: 32px;
  font-size: 13px;
}

.small-button {
  height: 32px;
}

.h-32 {
  height: 32px;
}

.flex-col {
  display: flex;
  align-items: flex-end;
}

.w-p-100 {
  width: 100%;
}

.sty-drop .p-inputwrapper {
  align-items: center !important;
}

button {
  font-size: 14px !important;
}

tr > td {
  font-size: 14px !important;
}

tr > th {
  font-size: 14px !important;
}

.p-dropdown .p-dropdown-label.p-placeholder {
  font-size: 13px !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  font-size: 13px !important;
}

label {
  font-size: 14px;
}

.p-dialog-header > span {
  font-size: 18px !important;
}

.p-panel-title.ng-star-inserted {
  font-size: 16px;
}

.ng-star-inserted {
  font-size: 14px;
}

textarea {
  font-size: 13px;
}

input, button, select, optgroup, textarea {
  font-size: 13px !important;
}
